.container {
  background-color:rgb(210, 241, 255);
  opacity:.9;
}

.survey, .result {
  max-width:800px;
  margin:auto;
  padding:1rem;
  margin-top:1rem;
  margin-bottom:1rem;
  min-height:160
}
.result, #result {
  display:none;
}

[type=radio]:checked + span {
  background-color:rgb(26, 148, 81);
}

[type=radio] { 
  opacity: 0;
  height:0;
  width: 0;
}

[type=radio] + span {
  cursor: pointer;
}

.option-label {
  border:solid black 1px;
  padding:.5rem;
  margin:1rem;
  border-radius:.5rem;
  background-color:#303030;
  color:white;
}
.option-label:hover {
  background-color: rgb(32, 95, 32);
}

.form-group {
  margin:1rem 0;
  line-height:1rem;
}
#validation {
  display:none;
}

form:invalid .submitted {
  background-color:rgb(252, 182, 182);
  padding:1rem;
  margin-top:1rem;
}
form:valid .submitted {
  opacity:0;
}
.question, #submit-box {
  background-color:white;
  margin:1rem;
  padding:1rem;
  border-radius: .5rem;
  display:block;
  min-height:118px;
}
#color {
  margin:auto;
  display:block;
  height:100px;
  width:100%;
}
#submit {
  display:block;
  margin:auto;
  margin-top:1.5rem;
}
.display-4 {
  font-size:2rem;
}