.container {
  background-color:#eee;
  opacity:.9;
  max-width:60%
}

.survey, .result {
  width:500px;
  margin:auto;
  border: solid #eee 1px;
  padding:1rem;
  margin-top:1rem;
  min-height:160
}
.result, #result {
  display:none;
}


[type=radio]:checked + span {
  background-color:rgb(26, 148, 81);
}

[type=radio] { 
  opacity: 0;
  height:0;
  width: 0;
}

[type=radio] + span {
  cursor: pointer;
}

.option-label {
  border:solid black 1px;
  padding:.5rem;
  margin:1rem;
  border-radius:.5rem;
  background-color:#303030;
  color:white;
  font-weight:bolder;
}

.form-group {
  margin:1rem 0;
}
#validation {
  display:none;
}

form:invalid .submitted {
  background-color:rgb(252, 182, 182);
  padding:1rem;
  margin-top:1rem;
}
form:valid .submitted {
  opacity:0;
}
.question, #submit-box {
  background-color:white;
  margin:1rem;
  padding:1rem;
  border-radius: .5rem;
}
#color {
  margin:auto;
  display:block;
  height:100px;
  width:100%;
}
#submit {
  display:block;
  margin:auto;
  margin-top:1.5rem;
}
#submit-box {
  min-height:118px;
}